@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-one: #e7f1f5;
  --color-two: #46a;
  --color-three: #c8cad0;
  --color-four: #0a3871;

  --color-text-one: #48637a;
  --color-text-two: #a8abb8;
  --color-text-three: #052863;
  --color-text-four: #f8f8f8;

  --font-principal: "Inter";
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-principal);
}

body {
  background-color: var(--color-one);
}

/* Hide */
.hide {
  display: none;
}

/* Images */
.warning__img {
  width: 2rem;
  opacity: 0.8;
}

.aside__img--waiting {
  width: 15rem;
  height: auto;
  opacity: 0.9;
}

/* Header */
.header {
  position: absolute;
  margin: 40px 0px 0px 40px;
}

.header__logo {
  display: flex;
  align-items: flex-start;
  width: 140px;
  height: 60px;
}

/* Section */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

/* Main */
.main {
  max-width: 680px;
  width: 50%;
  margin: 150px 0 0 240px;
}

.main__textarea {
  width: 100%;
  min-height: 420px;
  background: transparent;
  outline: none;
  resize: none;
  font-size: 1.6rem;
  border: none;
  font-family: var(--font-principal);
}

.main__textarea::placeholder {
  color: var(--color-text-one);
}

.main__warning {
  display: flex;
  align-items: center;
}

.warning__text {
  padding-left: 8px;
  color: var(--color-text-two);
  line-height: 150%;
}

.main__buttons {
  display: flex;
  flex-direction: row;
  padding: 16px 0 30px 0;
  justify-content: center;
  gap: 24px;
}

.buttons {
  height: 50px;
  width: 360px;
  border: 1px solid var(--color-four);
  border-radius: 16px;
  font-weight: 400;
  transition: transform 0.1s ease-in-out;
}

.buttons:active {
  transform: scale(0.95);
}

.main__button--encrypt {
  background-color: var(--color-four);
  color: var(--color-text-four);
  border-color: var(--color-four);
}

.main__button--decrypt {
  color: var(--color-text-three);
  background-color: var(--color-three);
  border-color: var(--color-four);
}

/* Aside */
.aside {
  box-shadow: 1px 1px 10px 1px var(--color-two);
  height: 44rem;
  margin: 40px 2.5rem;
  padding: 1.2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 1.5rem;
  max-width: 400px;
  background-color: var(--color-three);
}

.aside__container {
  padding: 2rem;
}

.aside__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
  margin-top: 10px;
  padding: 16px;
  color: var(--color-text-three);
}

.aside__text {
  font-size: 0.9rem;
  text-align: center;
  margin: 0.5rem;
  line-height: 150%;
  color: var(--color-text-one);
}

.aside__result {
  width: 100%;
  max-width: 400px;
}

.result__textarea {
  width: 100%;
  height: 620px;
  background: transparent;
  outline: none;
  resize: none;
  font-size: 1.6rem;
  border: 1px solid var(--color-three);
  font-weight: 400;
  line-height: 36px;
  font-family: var(--font-principal);
  color: var(--color-text-one);
  caret-color: transparent;
  pointer-events: none;
}

.result__copy {
  height: 50px;
  width: 360px;
  border: 1px solid var(--color-four);
  background-color: var(--color-one);
  color: var(--color-text-three);
  border-radius: 16px;
  font-weight: 400;
}

.result__copy:active {
  transform: scale(0.95);
}

/* Footer */
.footer {
  margin-top: 1.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__copyright {
  height: 3.13rem;
  padding-top: 0.07rem;
  color: var(--color-text-two);
}

.footer__logo {
  width: 140px;
  height: 60px;
}

/* Tablet */
@media (max-width: 768px) {
  .header {
    margin: 20px 0px 0px 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .main {
    margin: 100px 0 0 0;
    width: 90%;
  }

  .aside {
    margin: 20px 0;
    width: 90%;
  }

  .main__textarea {
    min-height: 300px;
    font-size: 1.4rem;
  }

  .result__textarea {
    height: 400px;
    font-size: 1.4rem;
  }

  .buttons {
    width: 300px;
  }

  .result__copy {
    width: 300px;
  }
}

/* Celular */
@media (max-width: 375px) {
  .header {
    margin: 10px 0px 10px 10px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .main {
    margin: 50px 0 0 0;
    width: 100%;
  }

  .aside {
    margin: 10px 0;
    width: 95%;
  }

  .main__textarea {
    min-height: 200px;
    font-size: 1.2rem;
  }

  .result__textarea {
    height: 300px;
    font-size: 1.2rem;
  }

  .buttons {
    width: 250px;
  }

  .result__copy {
    width: 250px;
  }
}
