@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-one: #d7dade;
  --color-two: #0077b6;
  --color-three: #ffff;
  --color-four: #1b5691;

  --texto-1-color: #1b5691;
  --texto-2-color: #2f4b64;
  --texto-3-color: #857168;

  --font-principal: "Inter";
}

* {
  font-family: var(--font-principal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
textarea {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  resize: none;
  text-decoration: none;
}

body {
  background-color: var(--color-one);
}

.hide {
  display: none;
}

/* Estilos de imagenes */
.header-logo {
  padding-top: 1rem;
}

.img-advertencia {
  width: 1.5rem;
}

.img-espera {
  display: none;
  width: 24%;
}

/*-----------------------*/

.header {
  padding-bottom: 16px;
}

.contenido-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 20px 20px;
  gap: 64px;
}

.main {
  flex-grow: 12;
  margin-top: 10px;
  padding: 10px;
}

.text-ingreso {
  min-height: 268px;
  field-sizing: content;
  font-size: 2rem;
  color: var(--texto-1-color);
  font-family: var(--font-principal);
}

.text-ingreso::placeholder {
  color: var(--texto-2-color);
  font-size: 2rem;
}

.advertencia {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 30px;
}

.advertencia p {
  color: var(--texto-3-color);
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 10px;
}

.boton {
  background-color: var(--color-four);
  height: 67px;
  border-radius: 24px;
  font-size: 1.25rem;
  font-weight: 600;
  transition: transform 0.1s ease;
}

.boton-encriptar {
  color: var(--color-three);
}

.boton-descencriptar {
  background-color: var(--color-three);
  color: var(--color-four);
}

.boton:active {
  transform: scale(0.95); /* Reduce el tamaño del botón */
}

.aside {
  flex-grow: 1;
}

.espera,
.resultado {
  padding: 32px;
  border-radius: 32px;
  background-color: var(--color-two);
  text-align: center;
  box-shadow: 0 0 8px 9px #727b84;
  border: 1px solid #1f2b50;
}

.espera-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 16px;
  min-height: 122px;
  color: var(--color-three);
}

.titulo-espera {
  font-size: 28px;
  font-weight: bold;
  line-height: 120%;
}

.parrafo-espera {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}

.resultado-contenido {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  text-align: center;
}

.texto-resultado {
  font-size: 24px;
  color: var(--color-one);
  font-family: var(--font-principal);
  field-sizing: content;
  min-height: 200px;
}

.boton-copiar {
  background-color: var(--color-one);
  color: var(--texto-2-color);
}

/* Estilos responsivos para tablets */
@media screen and (min-width: 700px) {
  .botones {
    flex-direction: row;
  }

  .boton {
    width: 100%;
  }
}

/* Estilos responsivos para desktop */
@media screen and (min-width: 1150px) {
  .contenido-wrap {
    flex-direction: row;
  }

  .main {
    padding-left: 12%;
  }

  .img-espera {
    display: inline-block;
    padding-top: 200px;
  }

  .text-ingreso {
    min-height: 600px;
    max-width: 680px;
  }

  .espera,
  .resultado {
    min-height: 750px;
    min-width: 350px;
    width: 100%;
  }

  .texto-resultado {
    min-height: 600px;
    max-width: 350px;
    text-justify: distribute-all-lines;
  }
}
